@model SurveyApplication.SurveyDb.MvcWebUI.Models.SurveyListViewModel

<div class="list-group">
    @foreach (var survey in Model.Surveys)
    {
        var css = "list-group-item";
        if (survey.Id == Model.CurrentSurvey)
        {
            css += " active";
        }
        <a href="/Home/Surveys?surveyId=@survey.Id" class="@css">@survey.Name</a>
    }
</div>
   