@model SurveyApplication.SurveyDb.MvcWebUI.Models.QuestionListViewModel
@addTagHelper *, Microsoft.Asp.NetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>


<div>
    <div class="col-md-2">
        @await Component.InvokeAsync("SurveyList")
    </div>
    
    <div class="col-md-10">
        @foreach (var question in Model.Questions)
        {
            <a>--------@question.Text------------</a>
            <br />
            foreach (var questionOption in Model.QuestionOptions)
            {
                if (questionOption.QuestionId == question.Id)
                {
                    <a>@questionOption.Text</a>

                }
            }
            <br/>
            <button>@Html.ActionLink("Update", "Update", new { questionId = question.Id })</button>
            <a href="/Home/Update" asp-controller="Home" asp-action="Update" asp-route-questionId="@question.Id">Buraya tikla</a>
            <br />
            <br />
            <hr/>
        }
        
        <form asp-controller="Home" asp-action="Survey"></form>
    </div>
</div>
