@model SurveyApplication.SurveyDb.MvcWebUI.Models.QuestionUpdateViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<p> deneme</p>

@foreach (var question in Model.Question)
{
    <p>@question.Text</p>
                     

    foreach (var option in Model.QuestionOptions)
    {
        <p>@option.Text</p>
    }
}