@model SurveyApplication.SurveyDb.MvcWebUI.Models.AccountViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "~/Views/_AccountLayout.cshtml";
}
<div class="col-md-4"></div>
<div class="col-md-4" style="margin-top:100px">
    <div id="loginbox">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Hesabınızda Oturum Açın</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                    
                    <div>
                        <div class="col-md-1"></div>
                        <div style="margin-bottom: 25px" class="col-md-10 input-group">
                            <span class="input-group-addon"><em class="glyphicon glyphicon-user"></em></span>
                            <input asp-for="Person.Email" type="email" class="form-control" placeholder="E-posta">
                            <span asp-validation-for="Person.Email"></span>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-1"></div>
                        <div style="margin-bottom: 25px" class="col-md-10 input-group">
                            <span class="input-group-addon"><em class="glyphicon glyphicon-lock"></em></span>
                            <input type="password" asp-for="Person.Password" class="form-control" placeholder="Parola">
                            <span asp-validation-for="Person.Password"></span>
                        </div>

                    </div>
                    
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-success form-control" value="Oturum Aç"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
                                Hesabınız yok mu?
                                <a asp-controller="Account" asp-action="Register">
                                    Kaydol
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
