@model SurveyApplication.SurveyDb.MvcWebUI.Models.AccountViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/_AccountLayout.cshtml";
}

<div class="col-md-4"></div>

<div class="col-md-4" style="margin-top:100px">
    <div id="signupbox">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Hesap Oluşturun</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a asp-controller="Account" asp-action="Login">Oturum Aç</a></div>
            </div>
            <div class="panel-body">
                <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <input asp-for="Person.FirstName" type="text" class="form-control" placeholder="Adı">
                            <span asp-validation-for="Person.FirstName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">
                            <input asp-for="Person.LastName" type="text" class="form-control" placeholder="Soyadı">
                            <span asp-validation-for="Person.LastName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">
                            <input asp-for="Person.Email" type="text" class="form-control" placeholder="E-posta">
                            <span asp-validation-for="Person.Email"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">
                            <input asp-for="Person.Password" class="form-control" placeholder="Parola">
                            <span asp-validation-for="Person.Password"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">
                            <input asp-for="User.Age" class="form-control" placeholder="Yaşı">
                            <span asp-validation-for="User.Age"></span>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <select asp-for="User.GenderId" class="form-control"
                                    asp-items="@(new SelectList(Model.Genders, "Id", "Name"))"></select>
                            <span asp-validation-for="User.GenderId"></span>
                        </div>

                        <div class="col-md-5">
                            <select asp-for="User.CityId" class="form-control"
                                    asp-items="@(new SelectList(Model.Cities, "Id", "Name"))"></select>
                            <span asp-validation-for="User.CityId"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">
                            <input type="submit" class="form-control btn btn-success" value="Hesap Oluştur"/>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
