@model SurveyApplication.SurveyDb.MvcWebUI.Models.QuestionOptionUpdateViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/_ManagerLayout.cshtml";
    int sonuc = 0;
    if (TempData.ContainsKey("UpdateOption"))
    {
        sonuc = (int)TempData["UpdateOption"];
    }
}
<div class="col-md-2">
    <a class="list-group-item active">Seçenek Düzenle</a>
</div>
<div class="col-md-8">
    <hr/>
    <form asp-controller="Manager" asp-action="UpdateOptions" method="post">
        <div class="form-group">
            <label>Seçenek</label>
            <input asp-for="QuestionOption.Text" class="form-control" />
            <span asp-validation-for="QuestionOption.Text"></span>
        </div>

        <input type="hidden" asp-for="QuestionOption.Id" />
        <input type="hidden" asp-for="QuestionOption.QuestionId" />


        <input type="hidden" asp-for="SurveyId" />
        <input type="hidden" asp-for="QuestionId" />
        <a class="btn btn-info" asp-controller="Manager" asp-action="Update" asp-route-surveyId="@Model.SurveyId" asp-route-questionId="@Model.QuestionId">Geri</a>

        <input type="submit" value="Değiştir" class="btn btn-success" />
    </form>
    <br/>
    
    <div class="col-md-2">
        @if (@sonuc == 1)
        {
            <div class="alert alert-info" role="alert">İşlem başarılı</div>
        }
    </div>
    <div class="col-md-6"></div>
</div>

